.hljs-string {
  color: #e9d957;
}

.hljs-number {
  color: #ff8b5e;
}

.hljs-keyword {
  color: #87b6ff;
}

.hljs-title,
.hljs-built_in {
  color: #4fccf2;
}

.hljs-type {
  color: #21e5b7;
}

.hljs-meta {
  font-style: italic;
}

.hljs-comment {
  font-style: italic;
  color: #49c91b;
}